# Pycharm IDE parameters
.idea

# Python
*.pyc
__pycache__

# C
*.so

# Pando
my_slurm_node.*
slurm.*

# Virtual environment ignored
venv

# Files
experiments/results/
examples/results/
results/backup/
tmp/
outdated/

